/* 
h1 = 60px, serif
h2 = 48px, serif
h3 = 30px, sans serif
h4 = 24px, serif 
p = 16px, sans serif
small = 12px, sans serif
*/ 

* {
	box-sizing: border-box; 
}

body {
	font-size: 16px;
}
h1{
	font-size: 3.75em;
	font-family: 'Cormorant Garamond', serif;
	font-weight: 400;	
	text-align: center;
}
h2 {
	font-size: 3em;
	font-family: 'Cormorant Garamond', serif;
	font-weight: 300;
	color: #3d7376;
	text-align: center;
}
h4 {
	font-size: 1.5em;
	font-family: 'Cormorant Garamond', serif;
	font-weight: 300;
	text-align: center;
}
p {
	font-size: 1em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	text-align: center;
}
small, input {
	font-size: 0.75em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300i;
	text-align: center;
}
small.footnotes {
	font-weight: 300i;
	font-style: italic;
}
a {
	text-decoration: none;
}

a.active {
	border-bottom:1px solid black;
}


body.coachingIntroduction { 
  display: grid;
  /*min-height: 100vh;*/
  grid-template-rows: minmax(10vh, auto) minmax(90vh, auto) minmax(90vh, auto) minmax(90vh, auto) minmax(90vh, auto) minmax(90vh, auto) minmax(50vh, auto) minmax(22vh, auto);
  grid-template-areas: "a"
                       "b"
                       "c"
                       "d"
                       "e"
                       "f"
                       "g"		
                       "h"
}

/* Grid A - Header */
body.coachingIntroduction #header .header {
	grid-area: a;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2px;
	background: white;
	width: 100%;
	position: fixed;
}

.headerLogo {
	width: 30vh;
}

header div nav ul {
	display: flex;
	/*width: 2vh;*/
}

header div nav ul a {
	display: block;
	padding: 10px 20px;
	/*color: #3d7376;*/
	color: black;
	font-family: 'Source Sans Pro', sans-serif;
}

/*header div nav ul a:hover {
  text-decoration: underline;
}*/

/* Grid B - Intro */
#intro {
	grid-area: b;	
	background: url('../images/detroit_unsplash_2000.jpg') no-repeat top center #fff;
	background-size: cover;
	display: flex;
	flex-direction: column;	
	align-content: center;
	position: relative;
	/*min-height:500px;*/
	/*min-height: 90vh;*/
}

#intro .clearOverlay {
	height: 200px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, .7);
	position: absolute;
	top: 26vh;
}

.intro h1 {
	position: absolute;
	top: 30vh;
	left: 25%
}

.introLine {
	/*margin-left: 45%;*/
	position: absolute;
	left: 45%;
	height: 42vh;
	width: 20vh;
	border-style: none none solid none;
	border-width: 1px;
	border-color: black;
}

.intro p {
	margin-top: 47vh;
	/*padding-top: 4vh;*/
	font-weight: 400;
	position: absolute;
	left: 35vh;	
}


/* Grid C - D3 */
#d3 {
	grid-area: c;
	/*background-image: cover;*/
	width: 100%;
	align-content: center;
}

.d3 h2 {
	padding-top: 10vh;
}

.d3Line {
	margin-left: 45%;
	height: 3vh;
	width: 20vh;
	border-style: none none solid none;
	border-width: 1px;
	border-color: black;
}

.d3 img {
	padding: 5vh 0 0 35vh;
}


/* Grid D - FACTS */
#facts {
	grid-area: d;
	background: url("../images/lake michigan_unsplash_cut.jpg");
	background-size: cover;
	border: none;
/*	position: relative;
*/	/*min-height:500px;*/
}

.facts {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10vh 0 0 0;
}

.facts p.largerP {
	font-size: 1.875em;
	font-family: 'Source Sans Pro', sans-serif;
	/*font-family: 'Lato', sans-serif;*/
	font-weight: 300;
	text-align: center;
	line-height: 1.2;
	width: 120vh;
	padding: 5vh 0 10vh 0;
	color: #3d7376;	
}

.facts .factsOverlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(21, 40, 54, .7);
	padding-bottom: 10vh;
	display: flex;
	flex-direction: column;
}

.facts .factsOverlay .threeColumns {
	display: flex;
	color: white;
	padding-top: 10vh;
}

.facts .factsOverlay .threeColumns div{
	flex: 1;
	padding: 0 5vh;
	border-style: none solid none none;
	border-width: 1px;
	border-color: white;
}

.facts .factsOverlay .threeColumns div.noBorder {
	border-style: none none none none;
}

.facts .factsOverlay .threeColumns div h1{
	line-height: 150%;
	font-weight: 300;
}

.facts .factsOverlay .threeColumns div h4{
	padding-bottom: 2vh;
}

.facts .factsOverlay .threeColumns div p{
	line-height: 120%;
}

.facts .factsOverlay .footnotes {
	padding-top: 10vh;
	color: white;
}


/* Grid E - ENROLL */
#whoToCoach {
	grid-area: e;
	/*background: url("../images/belle_isle_detroit_unsplash.jpg");*/
	background: url("../images/belle_isle_detroit_unsplash_crop_2000px.jpg");
	background-size: cover;
	color: white;
	padding: 19vh 0;
/*	line-height: 120%;
*/	/*min-height:500px;		*/
}

/*#whoToCoach .whoOverlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(60, 115, 118, .1);
}*/

.whoOverlay h2 {
	color: white;
	padding: 15vh 0 5vh 0;
}

.whoLine {
	margin-left: 45%;
	/*height: 1vh;*/
	/*padding-top: 2vh;*/
	width: 20vh;
	border-style: none none solid none;
	border-width: 1px;
	border-color: white;
}

.whoOverlay p {
	color: white;
	padding: 4vh 20vh 0 20vh;
	line-height: 1.5;
}



/* Grid F - COACHES */
#coaches {
	grid-area: f;
	display: flex;
	flex-direction: column;
	background: rgb(80, 113, 132);
	color: white;
	padding-top: 8vh;
}

#coaches h2 {
	color: white;
	padding-bottom: 2vh;
}

.coachesLine {
	margin-left: 45%;
	height: 3vh;
	width: 20vh;
	border-style: none none solid none;
	border-width: 1px;
	border-color: white;
}

.coaches {
	display: flex;
	padding: 5vh 0 0 7vh;
	align-content: space-around;
	flex: 1;
}

.challenges p {
	width: 90vh;
	text-align: left;
	padding-bottom: 3vh; 
}

.coaches div ul{
	flex: 1;
	font-size: .9em;
	font-family: 'Source Sans Pro', sans-serif;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-align: left;
	line-height: 300%; 
}

.coaches div ul a {
	color: white;
}

.coaches div ul a:hover {
  text-decoration: underline;	
}

.coachesProfiles {
	padding-left: 15vh;
}


/* Grid G - FORM */
#form {
	grid-area: g;
	display: flex;
	background: rgb(84, 84, 84);
	color: white;
}

#form h2 {
	color: white;
	width: 40%;
	line-height: 110%;
	padding: 16vh 0 0 10vh;
}

.form {
	display: flex;
	flex: 1;
	flex-direction: column;
	text-align: left;
	padding-top: 7vh;
}

form {
	display: flex;
	flex-direction: column;
	padding-left: 15vh;
}

input, select {
	background: rgb(84, 84, 84);
	border: .25px solid white;
	color: white;
	font-weight: 300;
	text-align: left;
	width: 75vh;
}

select.challengesList, option {
   -webkit-appearance: button;
   -webkit-border-radius: 0;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 10vh;
   -webkit-padding-start: 5vh;
   -webkit-user-select: none;
   background: url(../images/down_arrow.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   background: rgb(84, 84, 84);
   border: .25px solid white;
   color: white;
   /*font-size: inherit;*/
   /*overflow: hidden;*/
   padding: 2.2vh 2vh;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 75vh;
}

form .main {
	padding: 2vh;
}

form #submit {
	padding: 2vh;
	background: rgb(70, 70, 70);
	text-transform: uppercase;
	/*font-weight: bold;*/
}

input::placeholder {
	color: white;
	font-weight: 300;
}

aside small {
	padding: 2vh 0 0 15vh;
	text-align: left; 
}


/* Grid H - FOOTER */
footer {
	background: rgb(0,0,0);
}

.footer {
	grid-area: h;	
	display: flex;
	align-items: center;
	height: 22vh;
	justify-content: space-between;
}

.footer div{
	flex: 1;
	border-style: none solid none none;
	border-width: .25px;
	border-color: white;
}

.footer div.noBorder, .footer .kompasFooter .noBorder {
	border-style: none none none none;
}

.headerArrow {
}

.headerArrow a img{
	width: 7vh;
}

.kompasFooter {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo {
	width: 30vh;
	display: flex;
	flex-direction: column;
}

.logo a img {
	/*justify-self: center;*/
	padding: 2vh 0 1.8vh 15vh;
}

.logo small {
	padding-left: 3vh;
	color: white;
}

.contact {
	/*align-items: center;*/
	color: white;
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
}

.footerLinks {
	display: flex;
	justify-content: center;
	/*align-items: center;	*/
}

.contact img {
	width: 8vh;
	padding: 0 2vh;
}

.contact small {
	padding-top: 1vh;
	line-height: 3vh;
	font-weight: lighter;	
}

.contact small a {
	color: white;
	font-weight: bold;
}
.contact small a:hover {
	color: #3d7376;
}


/*         mobile version         
@media screen and (max-width: 780px){