/* 
h1 = 60px, serif
h2 = 48px, serif
h3 = 30px, sans serif
h4 = 24px, serif 
p = 16px, sans serif
small = 12px, sans serif
*/ 

* {
	box-sizing: border-box; 
}

body {
	font-size: 16px;
}
h1{
	font-size: 3.75em;
	font-family: 'Cormorant Garamond', serif;
	font-weight: 400;	
	text-align: center;
}
h2 {
	font-size: 3em;
	font-family: 'Cormorant Garamond', serif;
	font-weight: 300;
	color: #3d7376;
	text-align: center;
}
h4 {
	font-size: 1.5em;
	font-family: 'Cormorant Garamond', serif;
	font-weight: 300;
	text-align: center;
}
p {
	font-size: 1em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	text-align: center;
}
small, input {
	font-size: 0.75em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300i;
	text-align: center;
}
small.footnotes {
	font-weight: 300i;
	font-style: italic;
}
a {
	text-decoration: none;
}

a.active {
	border-bottom:1px solid black;
	padding: 5px;
}


/* ========================= BODY ========================= */
body.coachingIntroduction { 
  display: grid;
  /*min-height: 100vh;*/
  grid-template-rows: minmax(10vh, auto) minmax(90vh, auto) minmax(90vh, auto) minmax(90vh, auto) minmax(90vh, auto) minmax(90vh, auto) minmax(50vh, auto) minmax(22vh, auto);
  grid-template-areas: "a"
                       "b"
                       "c"
                       "d"
                       "e"
                       "f"
                       "g"		
                       "h"
}


/* =================== Grid A - HEADER =================== */
body.coachingIntroduction #header {
	height: 4.4em;
	grid-area: a;	
}

body.coachingIntroduction #header #headerContents {
	/*grid-area: a;*/
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	background: white;
	padding: 10px 20px 10px 20px;
	position: fixed;
	flex-wrap: wrap;
}

#headerContents .logo {
	width: 7em;
    display: flex;
    flex-direction: column;
}

.headerLogo {
	width: 100%;
}

#headerLinks {
	width: 25em;
	display: flex;
	justify-content: space-around;
	/*border-bottom: 1px solid black;*/
}

#headerLinks li {
	text-align: center;
	width: 5em;
}
#aboutUnderline {
	border-bottom: 1px solid black;
}

#coachingUnderline {
	border-bottom: 1px solid black;
}

#applyUnderline {
	border-bottom: 1px solid black;
}

#headerLinks ul a {
	display: block;
	color: black;
	font-family: 'Source Sans Pro', sans-serif;
}


/* =================== Grid B - INTRO =================== */
#intro {
	grid-area: b;	
	/*background: url('../images/detroit_unsplash_2000.jpg') no-repeat top center #fff;*/
	background-size: cover;
	width: 100%;
	/*position: relative;*/
	/*min-height:500px;*/
	/*min-height: 90vh;*/
}

/* parllax */
.parallax-window {
	height: 100%;
	width: 100%;
	background: transparent;
	background-size: cover;
}
/* */

#intro .clearOverlay {
	height: 300px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, .7);
	position: absolute;
	top: 22%;
}

.intro {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.intro h1 {
	width: 100%;
	position: absolute;
	top: 35%;
	/*padding-top: 10%;*/
}

.introLine {
	position: absolute;
	left: 45%;
	height: 46%;
	width: 10%;
	border-style: none none solid none;
	border-width: 1px;
	border-color: black;
}

.intro p {
	width: 100%;
	position: absolute;
	margin-top: 47vh;
	font-weight: 400;
	/*left: 35vh;	*/
}


/* =================== Grid C - D3 =================== */
#about {
	grid-area: c;
	width: 100%;
	align-content: center;
}

.about h2 {
	padding-top: 10%;
}

.aboutLine {
	margin-left: 45%;
	height: 3vh;
	width: 20vh;
	border-style: none none solid none;
	border-width: 1px;
	border-color: black;
}

.about img {
	padding: 5vh 0 0 35vh;
}


/* =================== Grid D - FACTS =================== */
#facts {
	grid-area: d;
	background: url("../images/lake michigan_unsplash_cut.jpg");
	background-size: cover;
	width: 100%;
	border: none;
	/*min-height:500px;*/
}

.facts {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10vh 0 0 0;
}

.facts p.largerP {
	font-size: 1.875em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	text-align: center;
	line-height: 1.2;
	width: 120vh;
	padding: 5vh 0 10vh 0;
	color: #3d7376;	
}

.facts .factsOverlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(21, 40, 54, .7);
	padding-bottom: 10vh;
	display: flex;
	flex-direction: column;
}

.facts .factsOverlay .threeColumns {
	display: flex;
	color: white;
	padding-top: 10vh;
}

.facts .factsOverlay .threeColumns div{
	flex: 1;
	padding: 0 5vh;
	border-style: none solid none none;
	border-width: 1px;
	border-color: white;
}

.facts .factsOverlay .threeColumns div.noBorder {
	border-style: none none none none;
}

.facts .factsOverlay .threeColumns div h1{
	line-height: 150%;
	font-weight: 300;
}

.facts .factsOverlay .threeColumns div h4{
	padding-bottom: 2vh;
}

.facts .factsOverlay .threeColumns div p{
	line-height: 120%;
}

.facts .factsOverlay .footnotes {
	padding-top: 10vh;
	color: white;
}


/* =================== Grid E - ENROLL =================== */
#coaching {
	grid-area: e;
	background: url("../images/belle_isle_detroit_unsplash_crop_2000px.jpg");
	background-size: cover;
	color: white;
	padding: 19vh 0;
	/*min-height:500px;		*/
}

.who h2 {
	color: white;
	padding: 15vh 0 5vh 0;
}

.whoLine {
	margin-left: 45%;
	width: 20vh;
	border-style: none none solid none;
	border-width: 1px;
	border-color: white;
}

.who p {
	color: white;
	padding: 4vh 20vh 0 20vh;
	line-height: 1.5;
}


/* =================== Grid F - COACHES =================== */
#coaches {
	grid-area: f;
	display: flex;
	flex-direction: column;
	background: rgb(80, 113, 132);
	color: white;
	padding-top: 8vh;
}

#coaches h2 {
	color: white;
	padding-bottom: 2vh;
}

.coachesLine {
	margin-left: 45%;
	height: 3vh;
	width: 20vh;
	border-style: none none solid none;
	border-width: 1px;
	border-color: white;
}

.coaches {
	display: flex;
	/*justify-content: space-between;*/
	padding: 5%;
	width: 100%;
}

.challenges, #carousel {
	flex: 1;
}

.challenges p {
	width: 90%;
	text-align: left;
	padding-bottom: 5%; 
	line-height: 1.2;
}

.coaches div ul{
	flex: 1;
	font-size: .9em;
	font-family: 'Source Sans Pro', sans-serif;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-align: left;
	line-height: 300%; 
}

.coaches div ul a {
	color: white;
}

.coaches div ul a:hover {
  text-decoration: underline;	
}

#carousel {
	width: 20vw;
	height: 50vh;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
}

.slide-image {
	width: 100vw;
	height: 100vh;
	background-position: center;
	background-size: cover;
	display: inline-block;
}

.arrow {
	width: 5%;
	position: absolute;
	top: 50%;
	transform: translate(-50%);
	cursor: pointer;
}

#right-arrow {
  right: 5px;
}

#left-arrow {
  left: 25px;
}

#slide1 {
	/*background: white;*/
	background-image: url('../images/p_Mark Placeholder.svg');
}
#slide2 {
	background: black;
	/*background-image: url('../images/p_Greg Placeholder.svg');*/
}
#slide3 {
	/*background-image: url('../images/p_Mark Placeholder.svg');*/
	background: green;
}
#slide4 {
	/*background-image: url('../images/p_Greg Placeholder.svg');*/
	background: yellow;
}
#slide5 {
	/*background-image: url('../images/p_Mark Placeholder.svg');*/
	background: red;
}


/* =================== Grid G - FORM =================== */
#form {
	grid-area: g;
	display: flex;
	background: rgb(84, 84, 84);
	width: 100%;
	color: white;
}

#form h2 {
	color: white;
	width: 40%;
	line-height: 110%;
	padding: 10% 0 0 10%;
}

.form {
	display: flex;
	flex: 1;
	flex-direction: column;
	text-align: left;
	padding-top: 4%;
}

form {
	display: flex;
	flex-direction: column;
	padding-left: 14%;
}

input, select, option {
	background: rgb(84, 84, 84);
	border: .25px solid white;
	color: white;
	font-weight: 300;
	text-align: left;
	width: 90%;
}

/* RESOURCE: https://codepen.io/ericrasch/pen/zjDBx */
select.challengesList, select.challengesList option {
   -webkit-appearance: button;
   -webkit-border-radius: 0;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   /*-webkit-padding-end: 10vh;*/
   /*-webkit-padding-start: 5vh;*/
   -webkit-user-select: none;
   background: url(../images/down_arrow.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% end;
   background-repeat: no-repeat;
   background: rgb(84, 84, 84);
   border: .25px solid white;
   color: white;
   /*font-size: inherit;*/
   /*overflow: hidden;*/
   padding: 2.4%;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 90%;
}

form .main {
	padding: 2.4%;
}

form #submit {
	padding: 2.4%;
	background: black;
	text-transform: uppercase;
	border: .25px solid black;
}

input::placeholder {
	color: white;
	font-weight: 300;
}

aside small {
	/*padding: 2vh 0 0 15vh;*/
	padding: 2.4% 0 0 16%;
	text-align: left; 
}


/* =================== Grid H - FOOTER =================== */
footer {
	background: rgb(0,0,0);
}

.footer {
	grid-area: h;	
	display: flex;
	align-items: center;
	width: 100%;
	height: 8em;
	justify-content: space-around;
}

.footer div{
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	height: 5em;
	border-style: none solid none none;
	border-width: .25px;
	border-color: white;
}

.footer div.noBorder, .footer div.noBorder{
	border-style: none none none none;
}

.headerArrow a img{
	width: 2.5em;
}

.kompasFooter {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.kompasFooter .logo {
	width: 15em;
	display: flex;
	flex-direction: column;
}

.kompasFooter .logo img {
	width: 1.5em;
}

.kompasFooter .logo small {
	color: white;
}

.contact {
	color: white;
	width: 20em;
	display: flex;
	flex-direction: column;	
}

.socialLinks img {
	width: 50%;
}

.footer .kompasFooter small {
	padding-top: 1em;
	font-weight: lighter;	
}

.footer .contact small {
	padding-bottom: 1.15em;
	font-weight: lighter;	
}

.contact small a {
	color: white;
	font-weight: bold;
}
.contact small a:hover {
	color: #3d7376;
}


/*         mobile version         */
@media (max-device-width: 1024px) {
  .arrow {
    width: 20%;
  }
}

@media (max-width: 768px) {
  .arrow {
    width: 10%;
  }
}

@media screen and (max-width: 780px){
	
	}